<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="OmniPro\Blog\Api\Data\BlogInterface" type="OmniPro\Blog\Model\Blog"/>
    <preference for="OmniPro\Blog\Api\BlogRepositoryInterface" type="OmniPro\Blog\Model\BlogRepository"/>
    <preference for="OmniPro\Blog\Api\Data\BlogSearchResultInterface" type="OmniPro\Blog\Model\BlogSearchResult"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_post_listing_data_source" xsi:type="string">OmniPro\Blog\Model\ResourceModel\Blog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
<virtualType name="OmniPro\Blog\Model\ResourceModel\Blog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">omnipro_blog</argument>
            <argument name="resourceModel" xsi:type="string">OmniPro\Blog\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>
</config>